#theImg{
    width: 50vw;
    height: auto;
}

#div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filterr{
    width: 30vw;
    height: 10px;
    margin-block: 30px;
}